.header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #FF7012;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
}

ul.header {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.left, .right {
    display: flex;
    gap: 40px;
}

.left li, .right li {
    display: inline-block;
}

.left a, .right a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 40px;
    padding: 0 10px;
}

nav a:hover {
    text-decoration: none;
}

hr {
    background-color: #ED4C00;
}

a {
    text-decoration: none;
    display: block;
}

.profileInfo {
    position: relative;
    left: 20%;
}

.info {
    width: 800px;
    margin-left: 500px;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.infoTable {
    width: 700px;
    margin: auto;
    border: #FF7012 solid 2px;
    border-radius: 30px;
    background-color: lightgray;
    position: relative;
    padding: 10px;
}

td {
    padding: 10px;
}

.infoTitle {
    padding: 10px;
    width: 100px;
    text-align: center;
}

.saveBtn {
    background-color: #FF7012;
    border-radius: 50px;
    border: #ED4C00 solid 2px;
    width: 150px;
    height: 50px;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    line-height: 50px;
    margin: auto;
    margin-top: 10px;
}

.saveBrn:link,
.saveBrn:visited {
    color: white;
}

.out:link,
.out:visited {
    color: gray;
}

.out {
    position: relative;
    float: right;
    margin-top: 9%;
}

.logo {
    position: relative;
    margin: auto;
    height: 200px;
}

.logoImg {
    margin: 5% 1% 0% 2%;
}

.profileInfo {
    vertical-align: middle;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nickName {
    width: 200px;
    border: #FF7012, solid, 2px;
    color: #FF7012;
    font-size: large;
    font-weight: bolder;
    border-radius: 15px;
    margin-top: 10px;
    text-align: center;
}

.realName {
    width: 180px;
    border: black, solid, 1px;
    margin-top: 10px;
    text-align: center;
}

.birthDate {
    color: gray;
    width: 180px;
    margin-top: 10px;
    font-size: small;
    text-align: center;
}

.editText {
    text-align: center;
    margin: auto;
}

.allInfo {
    margin-top: 5%;
    display: flex;
    align-items: center;
}