body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center; /* 수평 중앙 정렬 */
	align-items: center; /* 수직 중앙 정렬 */
	height: 100vh; /* 화면 전체 높이 */
	box-sizing: border-box;
	padding-top: 80px;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #FF7012;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    padding: 20px 5%;
}

ul.header {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.left, .right {
    display: flex;
    gap: 40px;
}

.left li, .right li {
    display: inline-block;
}

.left a, .right a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
    padding: 0 10px;
}

nav a:hover {
    text-decoration: none;
}

/*책 리스트 css*/
.book-list-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    gap: 3%;
    padding: 20px;
    
    a {
    	text-decoration: none;
		color: inherit;
    }
}

.book-item {
    width: 250px;
    height: 350px;
    border: 1px solid #FF7012;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.book-item img {
    width: 100%;
    height: 200px;
    border: 1px solid #FF7012;
    border-radius: 10px;
}

.item-content {
	padding: 10px 0;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.book-info-bold {
	font-weight: bold;
}


