body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center; /* 수평 중앙 정렬 */
	align-items: center; /* 수직 중앙 정렬 */
	height: 100vh; /* 화면 전체 높이 */
	box-sizing: border-box;
	padding-top: 200px;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #FF7012;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    padding: 20px 5%;
}

ul.header {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.left, .right {
    display: flex;
    gap: 40px;
}

.left li, .right li {
    display: inline-block;
}

.left a, .right a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
    padding: 0 10px;
}

nav a:hover {
    text-decoration: none;
}

/*디테일 css*/
.container {
    display: flex;
	flex-direction: column;
	justify-content: center;
    background-color: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	width: 800px;
}

h2 {
    margin: 20px 0;
    text-align: center;
}

.book-detail {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}

.bold {
	font-weight: bold;
}

/* 책 이미지 스타일 */
.book-image img {
    width: 60%;
    min-width: 300px;
    height: auto;
    display: block;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.book-info {
    max-width: 600px;
}

.book-info h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

.book-info p {
    font-size: 16px;
    line-height: 1.6;
    margin-top: 0;
    margin-bottom: 10px;
}

/*거래 정보 css*/
.trade-info {
    margin: 20px 0;
    font-size: 16px;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.trade-info div {
    margin-bottom: 10px;
}

/*신청 버튼 css*/
.apply-button {
    text-align: center;
    margin-top: 30px;
}

.apply-button input[type="submit"] {
    background-color: #FF7012;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.apply-button input[type="submit"]:hover {
    background-color: #FF9436;
}

hr {
    margin: 40px 0;
    border: 1px solid #ddd;
}