body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    padding-top: 113px;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #FF7012;
    z-index: 1000;
}

main {
    text-align: center;
}

.form-container {
    border: 2px solid #FF7012;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    max-width: 400px;
    margin: 50px auto;
}

h1 {
    text-align: center;
    color: #333;
}

button {
    background-color: #FF9436;
    color: black;
    font-size: 20px;
    width: 100%;
    font-weight: bold;
    border: none;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #E47A27;
}

input {
    width: 100%;
    padding: 10px;
    border: 2px solid #FF7012;
    border-radius: 5px;
    margin-bottom: 15px;
}

input:focus {
    outline: none;
    border-color: #FF9436;
}

.link-group {
    margin-top: 10px;
    text-align: center;
}

.link-group a {
    color: #FF7012;
    text-decoration: none;
    font-size: 14px;
}

.link-group a:hover {
    text-decoration: underline;
}
