/* 공통 스타일 */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    padding-top: 113px; /* 헤더 공간 확보 */
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #FF7012; /* 헤더 배경색 */
    z-index: 1000;
}

main {
    text-align: center;
}

.form-container {
    border: 2px solid #FF7012; 
    border-radius: 10px; 
    padding: 20px; 
    background-color: white; 
    max-width: 600px; 
    margin: 50px auto; 
}

/* 네비게이션 스타일 */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
}

ul.header {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.left, .right {
    display: flex;
    gap: 40px;
}

.left li, .right li {
    display: inline-block;
}

.left a, .right a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
    padding: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

/* 버튼 스타일 */
button {
    background-color: #FF7012;
    color: white; 
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #FF9436;
    color: black;
    font-size: 20px;
    width: 40%; 
    font-weight: bold;
}

/* 입력 폼 스타일 */
.signup-form {
    max-width: 100%;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 100%; 
    padding: 10px;
    border: 2px solid #FF7012;
    border-radius: 5px;
    box-sizing: border-box;
}

/* 인풋 그룹 스타일 */
.input-group {
    display: flex; 
    align-items: center; 
    margin-top: 10px; 
}

.input-group input,
.input-group select {
    flex: 1; 
    margin-right: 5px;
    padding: 10px;
    border: 2px solid #FF7012;
    border-radius: 5px;
}

.input-group span {
    margin: 0 5px;
}

.input-group button {
    padding: 10px 15px; 
    background-color: #FF9436;
    color: black; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
}

/* 이미지 미리보기 스타일 */
.image-preview {
    width: 150px; 
    height: auto; 
    margin-top: 10px; 
}
